In [1]:
%matplotlib notebook
# %matplotlib inline

In [2]:
#Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
#Reading files
mouse_metadata=pd.read_csv("data/Mouse_metadata.csv")
study_result=pd.read_csv("data/Study_results.csv")
#mouse_metadata
# study_result

In [4]:
#Merging data
merged_df=pd.merge(study_result,mouse_metadata,how="left",on="Mouse ID")
merged_df.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
1,f932,0,45.0,0,Ketapril,Male,15,29
2,g107,0,45.0,0,Ketapril,Female,2,29
3,a457,0,45.0,0,Ketapril,Female,11,30
4,c819,0,45.0,0,Ketapril,Male,21,25

In [5]:
#Checking Number of Mice
Mice_count=merged_df["Mouse ID"].nunique()
Mice_count

249

In [6]:
# duplicate_df=merged_df[merged_df.duplicated()]
# duplicate_df.head()

In [7]:
dropped_df=merged_df.loc[merged_df.duplicated(subset=["Mouse ID","Timepoint"]),'Mouse ID'].unique()
# dropped_df.unique()
dropped_df

array(['g989'], dtype=object)

In [8]:
# len(list(dropped_df["Mouse ID"].values.tolist()))

In [9]:
# cleaned_df=merged_df.drop_duplicates(subset=["Mouse ID"])
# cleaned_df

In [10]:
cleaned_df = merged_df[merged_df['Mouse ID'].isin(dropped_df)==False]
cleaned_df

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,f932,0,45.000000,0,Ketapril,Male,15,29
2,g107,0,45.000000,0,Ketapril,Female,2,29
3,a457,0,45.000000,0,Ketapril,Female,11,30
4,c819,0,45.000000,0,Ketapril,Male,21,25
...,...,...,...,...,...,...,...,...
1888,r944,45,41.581521,2,Capomulin,Male,12,25
1889,u364,45,31.023923,3,Capomulin,Male,18,17
1890,p438,45,61.433892,1,Ceftamin,Female,11,26
1891,x773,45,58.634971,4,Placebo,Female,21,30
1892,b879,45,72.555239,2,Stelasyn,Female,4,26

In [11]:
len("Mouse ID")

8